body{
    font-family: "Open Sans", sans-serif;
}
.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: violet;   
    font-size: 18px;

    button {
        background-color: crimson;
        border: none;
        height: 40px;
        margin-right: 10px;
        color: white;
        cursor: pointer;   
        transition: transform 0.2s ease-out;

        &:hover {
            transform: scale(1.05);
        }
    }
}